DISCORD_TOKEN=
DISCORD_GUILD_ID=933379075270119484

CHANNEL_CHAT_ID=1049796965334011945
CHANNEL_GAMING_ID=1553380593679732777
CHANNEL_WHO_PLAYS_ID=1553380593620885594
CHANNEL_FREE_GAMES_ID=977236274974978109

CHANNEL_CREATE_VOICE_GENERAL_ID=1336908817551855666
CHANNEL_CREATE_VOICE_GAMING_ID=1337126878112383058

ROLE_STAFF_ID=
ROLE_MODERATOR_ID=

LLM_PROVIDER=groq
LLM_MODEL=qwen/qwen3.8-27b
GEMINI_API_KEY=
GROQ_API_KEY=
BLAGUES_API_TOKEN=

# API Key TMDB ou API Read Access Token
TMDB_API_TOKEN=
TMDB_LANGUAGE=fr-BE
TMDB_REGION=BE

BILLY_MENTIONS_ENABLED=false
WELCOME_ENABLED=false
PRESENCE_ENABLED=false

DATABASE_PATH=data/mingati.db
LOG_LEVEL=INFO
TIMEZONE=Europe/Brussels
STORE_COUNTRY=BE
